{# templates/registration/index.html.twig #}
{% extends '@AdminLTE/layout/security-layout.html.twig' %}

{% block login_social_auth %}{% endblock %}

{% block logo_login %}<b>Registration{% endblock %}

    {% block login_form %}
        {% form_theme form '@AdminLTE/layout/form-theme-security.html.twig' %}
        {{ form_start(form) }}
        <div class="form_group">
            <div class="col-md-12 mb-3">
                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form_group">
            <div class="col-md-12 mb-3">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form_group">
            <div class="col-md-12 mb-3">
                {{ form_row(form.password.first, {'attr': {'class':
                    'form-control'}}) }}
            </div>
        </div>
        <div class="form_group">
            <div class="col-md-12 mb-3">
                {{ form_row(form.password.second, {'attr': {'class':
                    'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-btn fa-user"></i> Register
                </button>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {{ form_end(form) }}
    {% endblock %}

    {% block login_actions %}
        <br>
        <a href="{{ path('adminlte_login'|route_alias) }}">
            {{ 'Back to login'|trans({}, 'AdminLTEBundle') }}
        </a>
    {% endblock %}
