{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
<button class="btn">{{ button_label|default('Save') }}</button>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            {{ form_row(form.className, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.slug, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            {{ form_row(form.code, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.codeSnippet, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
{#        <div class="col-md-6">#}
{#            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}#}
{#        </div>#}
        <div class="col-md-6">
            {{ form_row(form.status, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.sort_order, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            {{ form_row(form.referenceLink, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.isDraggable, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
