{% extends 'base.html.twig' %}

{% block title %}JavaArticleCategory{% endblock %}

{% block page_content %}
    <h1>JavaArticleCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ java_article_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ java_article_category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ java_article_category.Description }}</td>
            </tr>
            <tr>
                <th>Sort_order</th>
                <td>{{ java_article_category.sortOrder }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('java_article_category_index') }}">back to list</a>

    <a href="{{ path('java_article_category_edit', {'id': java_article_category.id}) }}">edit</a>

    {{ include('java_article_category/_delete_form.html.twig') }}
{% endblock %}
